<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<webSocket enabled="false" />
		<httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL">
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
		</httpErrors>
		<staticContent>
			<remove fileExtension=".json"/>
			<mimeMap fileExtension=".json" mimeType="application/json"/>
		</staticContent>
		<rewrite>
			<rules>
				<rule name="React Routes" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{HTTP_METHOD}" pattern="^GET$" negate="true" />
						<add input="{HTTP_ACCEPT}" pattern="^text/html" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/index.html" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
