body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.page-body {
	top: 63px;
	justify-content: center;
	position: relative;
	display: flex;
	overflow: auto;
}

.header {
	top: 75px;
	align-items: center;
	justify-content: center;
	position: relative;
	display: flex;
}

.end {
	position: absolute;
	right: 100px;
	top: 15px;
}

.navbar-orange {
	background-color:#000000;
	box-shadow: 0px 6px 8px -6px rgba(0,0,0,.5);
	color: #FFFFFF;
}

.navbar-title {
	padding-left: 15px;
	padding-right: 15px;
	color:#FFFFFF;
}

.nav-link {
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
}

a.nav-link {
    color: #FFFFFF;
}

.nav-link:hover {
	color: #000000;
	background-color: #FFFFFF;
}

.navbar-toggler {
	background-color: #777777 !important;
}